NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPPORT_PHONE=+256700000000
NEXT_PUBLIC_SUPPORT_PHONES=+256700000000,+256701111111
NEXT_PUBLIC_SUPPORT_WHATSAPP_PHONE=256700000000
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_SESSION_SECRET=
ALLOW_ADMIN_SCAFFOLD_ROUTES=false
ALLOW_SCAFFOLD_API_ROUTES=false
ALLOW_FAQ_PAGE=false
